.toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: #222;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-top: solid 1px #ccc;
}

.left, .right {
    display: flex;
    align-items: center;
}

.logo {
    margin: 0;
    color: #22a6ed;
}

.logo:after {
    content: '';
    border-left: solid 1px #ccc;
    margin: 0 0.5em;
}

.actions {
    display: flex;
}

.action {
    background-color: #ccc;
    color: #222;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5em 1em;
}

.action:hover {
    background-color: #aaa;
}

.action:not(:first-child) {
    margin-left: 0.25em;
}